@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
    position: relative; 
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section5 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

nav {
  padding: 0px 0px;
}

.hero {
  width: 100%;
  height: 55vh;
  
}

.btn {
  color: white; 
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 15px;
  border-radius: 500px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  margin-left: 400%;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

.footer {
  text-align: center;
  font-size: large;
  margin-top: 50px;
  padding-bottom: 50px;
}

.float-center {
  margin-top: 7%;
  margin-left: 40%;
}

#Home,
#About,
#Skills,
#Portfolio,
#Blog,
#Contact {
  padding: 9%;
  margin: 10px auto;
  font-size: 20px;
  text-align: justify;
}
