@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@media (max-width:600px) {
  width: 30%;
}
@media only screen and (max-width: 900px) { 
  body { background-color: blue; } 
}

body {
    position: relative; 
}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #0C090D;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #E01A4F;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #F15946;}
#section4 {padding-top:50px;height:500px;color: #fff; background-color: #F9C22E;}
#section5 {padding-top:50px;height:500px;color: #fff; background-color: #53B3CB;}

.hero {
  width: 100%;
  height: 60vh;
}

h1 {
  text-decoration: underline;
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;
  font-family: 'Times New Roman', Times, serif;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;
  margin-top: 5%;
  font-family: 'Times New Roman', Times, serif;
}

p {
  padding-top: 3%;
  text-transform: uppercase;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Times New Roman', Times, serif;
}
.btn {
  color: white; 
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 15px;
  border-radius: 500px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  margin-left: 300%;
}

.btn:hover {
  background: transparent;
  border-color: #fd4766;
  color: #fd4766;
}

.footer {
  background-color: #2d2d30;
  color: #f5f5f5;
  padding: 32px;
  text-align: center;
  font-size: large;    
}

.float-center {
  margin-top: 3%;
  margin-left: 41%;
}
